@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" width="40%" />
            <a href="../Conta/Index">
            <h3>Criar Conta</h3>
            </a>
        </div>
 
    <div class="col-lg-4 text-center">
        <img src="~/images/PlanoContas.png" width="40%"/>
        <a href="../PlanoConta/Index">
        <h3>Plano de Contas</h3>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <img src="~/images/registrar_transacao.png" width="40%"/>
        <a href="../Transacao/Index">
        <h3>Registrar Transação</h3>
    </div>

</div>
<br /> <br />
<div class="row" style="justify-content: center;">
    <div class="col-lg-4 text-center">
        <img src="~/images/extrato.png" width="40%"/>
        <a href="../Transacao/Extrato">
        <h3>Extrato</h3>
        </a>
    </div>
   
    <div class="col-lg-4 text-center">
        <img src="~/images/ajuda.png" width="40%"/>
        <a href="../Home/Ajuda">
        <h3>Ajuda</h3>
        </a>
    </div>
</div>